.course-area{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    padding-bottom: 200px;

    @include respond-below(md){
        padding-bottom: 65px;
    }
    .course{
        &__wrap{
            padding: 30px;
            border-radius: 10px;
            background-color: $course-bg;
            perspective: 1000px;
            height: 100%;
            &::after, &::before{
                position: absolute;
                content: '';
                border-radius: 50%;
                background-color: $course-round-bg;
                z-index: -1;
            }
            &::before{
                @include area(412, 412);
                top: -133px;
                right: -80px;
            }
            &::after{
                @include area(146, 146);
                bottom: 73px;
                left: 0px;
                transform: translateX(-50%);
            }
            &:hover{
                .course__item{
                    transform: rotateY(-90deg);

                }
                .course__action{
                    transform: rotateY(0deg);

                }
            }
        }
        &__item{
            transform: rotateY(0);
            transition: all .5s ease-in-out;
        }
        &__image{
            position: relative;
            z-index: 99;
            text-align: center;
            @include respond-between(md, lg) {
                    height: 250px;
            }
            @include respond-between(sm, md) {
                height: 220px;
              
            }
            @include respond-between(xs, sm) {
                height: 200px;
              
            }
            img{
                height: auto;
                width: auto;

                @include respond-between(md, lg) {
                    
                }
                @include respond-between(sm, md) {
                  
                }
                @include respond-between(xs, sm) {
                  
                }
                @include respond-below(lg) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__content{}
        &__categ{
            span{
                color: $para-color;
                margin: 20px 0 8px;
                display: block;
            }
        }
        &__title{
            h3{
                color: $teamplate-color;
                text-transform: initial;

                @include respond-between(md, xl){
                    font-size: 19px;
                }
                
                @include respond-between(sm, md){
                    font-size: 21px;
                }
                @include respond-between(xs, sm){
                    @include texts(18, 25);
                }
                @include respond-below(xs){
                    @include texts(20, 25);
                    
                }
            }
        }
        &__action{
            background-color: $course-action-bg;
            z-index: 999;
            transform: rotateY(90deg);
            transition: all .5s ease-in-out;

            &__wrap{
                
                .course{
                    &__content{
                        top: 40%;
                        padding: 0 30px;
                        @include respond-below(sm){
                            padding: 0 15px;
                        }
                    }
                    &__categ{
                        span{
                            color: $white-color !important;
                            @extend .transition;
                            &:hover{
                                color: $teamplate-color !important;
                            }
                        }
                    }
                    &__title{
                        h3{
                            color: $white-color !important;
                            @extend .transition;
                            &:hover{
                                color: $teamplate-color !important;
                            }
                        }
                    }
                    &__meta{
                        top: 56%;
                        @include respond-between(md, lg) {
  
                        }
                        @include respond-between(sm, md) {
                          
                        }
                        @include respond-between(xs, sm) {
                          
                        }
                        @include respond-below(lg) {
                            top: 60%;
                          
                        }
                    }
                    &__user{
                        &__icon{
                            i{
                                color: $white-color;
                            }
                        }
                        &__counte{
                            span{
                                 color: $white-color;
                                 color: $white-color;
                                margin-left: 5px;
                            }
                        }
                    }
                    @at-root{
                    &__ratting{
                        margin-left: 11px;
                        .start__icon{
                            margin-left: 3px;
                            i{
                                color: $ratting-bg;
                            }
                        }
                        .start__counte{
                            span{
                                color: $white-color;
                                margin-left: 3px;

                            }
                        }
                    }
                    }
                    &__price{
                        bottom: 40px;
                        background-color: $white-bg;
                        padding: 5px 5px 5px 10px;
                        .price{
                            a{
                                color: $teamplate-color;
                                margin-right: 5px;
                                font-weight: 500;
                            }
                        }
    
                        &:hover{
                            .price__arrow a{
                                background-color: $teamplate-color !important;
                            }
                        }
                    }
                    @at-root{
                        .price__arrow{
                            a{
                                @include area(40, 30);
                                border-radius: 3px;
                                background-color: $main-color;
                                @extend .transition;
                            }
                            i{
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
        &__link{
            margin-top: 45px;

            @include respond-below(xs){
                margin-top: 25px;
            }
        }
    }
}